body {
    font-family: 'Segoe UI', 'Lucida Grande', -apple-system, BlinkMacSystemFont, 'Liberation Sans', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/body-background.jpg');
    background-size: 120%;
    color: white;
}

.clock-container {
  background-image: url('images/aesthetic.jpg');
  display: flex; 
  justify-content: space-around; 
  align-items: center;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: auto; /* Allow container to adjust its width to content */
  padding: 30px;
  transition: transform 1s cubic-bezier(.17,.67,.21,1.01);
}
.clock-container:hover {
    transform: scale(1.15);
    cursor: pointer;
}
.countdown-clock h2 {
  line-height: 1.5;
  margin-bottom: 20px;
}

.clock-container span {
    opacity: 0.7; 
    background-color: #000000; /* White background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px;
    margin-right: 10px; 
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Example of a clean sans-serif font */
}
.click-container a{
    display: block;
    width: 100%;
    height: 100%;
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
a:active{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) { /* Adjust breakpoint for your target mobile devices */
    .clock-slider {
        width: 100%; 
        overflow-x: auto;  /* Enable horizontal scrolling */
        overflow-y: hidden; /* Hide vertical scrollbar if needed */
        white-space: nowrap; /* Keep containers inline*/
        transition: scroll-left 0.3s ease-out;
    }
    
    .clock-container {
        display: inline-block;  /* Allow containers to sit side-by-side */
        width: calc(100% - 20px); /* Make containers viewport width (minus some margin) */
        margin-right: 20px;
        height: 40%;
        scale: auto;
    }
} 